<!-- Main content -->
<section class="content">
	
   <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-warning">
              <div class="card-header">
                <h3 class="card-title">@yield('title');</h3>
              </div>
              <!-- /.card-header -->
		     </div>
            <!-- /.card -->
		<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Image</th>
      <th scope="col">Category</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
  </tbody>
</table>
			  


          </div>
          <!--/.col (left) -->
		  
        
		</div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
</section>
<!-- /.content -->